

.pokeInf{
    background: rgb(208,221,255);
    background: linear-gradient(215deg, rgb(208, 255, 214) 0%, rgb(158, 201, 184) 100%);
    border: black solid 1px;
    border-radius: 5%;
    font-size: 10px;
    padding: 1rem;
    grid-row: 2/5;
    grid-column: 3/6;
    line-height:2;
    overflow:scroll;
    box-shadow: rgba(0, 42, 7, 0.4) 5px 5px, rgba(0, 88, 9, 0.3) 10px 10px, rgba(0, 115, 12, 0.2) 15px 15px, rgba(0, 162, 16, 0.1) 20px 20px, rgba(9, 255, 0, 0.05) 25px 25px;border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    align-content: center;
    justify-content: center;
}

.pokeInf::-webkit-scrollbar{
    display: none;
}

.pokeImg{
    background: rgb(208,221,255);
    background: linear-gradient(215deg, rgb(208, 255, 214) 0%, rgb(158, 201, 184) 100%);
    border: black solid 1px;
    border-radius: 5%;
    align-content: center;
    justify-content: center;
    display: flex;
    grid-row: 2/5;
    grid-column: 8/11;
    box-shadow: rgba(0, 42, 7, 0.4) 5px 5px, rgba(0, 88, 9, 0.3) 10px 10px, rgba(0, 115, 12, 0.2) 15px 15px, rgba(0, 162, 16, 0.1) 20px 20px, rgba(9, 255, 0, 0.05) 25px 25px;border-radius: 50px;
}
.pokeInf h3{
    font-size: 2vh;
    margin-top: 0%;
    width: 100%;
}

.stats{
    width: 100%;
    font-size: 1vh;
    text-align: left;
    
}

.tipo{
    width: 100%;
    font-size: 1vh;
    text-align: left;
    text-align: center;
    font-size: 1rem;
    
}