
.cromo{
    justify-content: center;
    width: 100px;
    height: 100px;
}

.cromo img{
    height: 100%;
    width: 100%;
}




@media screen and (max-width: 1000px){ 
    .cromo{
        width: 60px;
    }
    

}