
.cromoImg{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    border: solid 4px rgb(43, 180, 63) ;
}

.cromoImg img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.cromo p{
    padding: 0%;
    margin: 0;
    width: 100%;
    color: #000000;
    font-weight: bold;
}


