@font-face{
    font-family: TizaFont;
    src: url(../../public/fonts/tiza.ttf);
    font-display: block;
}






.uno {
    border-bottom: whitesmoke solid 2px;
    border-right: whitesmoke solid 2px;
    border-top:peru solid 15px;
    border-left: peru solid 15px;
    grid-row: 1/4 ;
    grid-column: 4/6 ;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.dos {
    border-bottom: whitesmoke solid 2px;
    border-right: whitesmoke solid 2px;
    border-top:peru solid 15px;
    border-left: whitesmoke solid 2px;
    grid-row: 1/4 ;
    grid-column: 6/8;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.tres {
    border-bottom: whitesmoke solid 2px;
    border-right: peru solid 15px;
    border-top:peru solid 15px;
    border-left: whitesmoke solid 2px;
    grid-row: 1/4 ;
    grid-column: 8/10;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.cuatro {
    border-bottom: whitesmoke solid 2px;
    border-right: whitesmoke solid 2px;
    border-top:whitesmoke solid 2px;
    border-left: peru solid 15px;
    grid-row: 4/7 ;
    grid-column: 4/6 ;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.cinco {
    border-bottom: whitesmoke solid 2px;
    border-right: whitesmoke solid 2px;
    border-top:whitesmoke solid 2px;
    border-left: whitesmoke solid 2px;
    grid-row: 4/7 ;
    grid-column: 6/8;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.seis {
    border-bottom: whitesmoke solid 2px;
    border-right: peru solid 15px;
    border-top:whitesmoke solid 2px;
    border-left: whitesmoke solid 2px;
    grid-row: 4/7 ;
    grid-column: 8/10;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.siete {
    border-bottom: peru solid 15px;
    border-right: whitesmoke solid 2px;
    border-top:whitesmoke solid 2px;
    border-left: peru solid 15px;
    grid-row: 7/10 ;
    grid-column: 4/6 ;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.ocho {
    border-bottom: peru solid 15px;
    border-right: whitesmoke solid 2px;
    border-top:whitesmoke solid 2px;
    border-left: whitesmoke solid 2px;
    grid-row: 7/10 ;
    grid-column: 6/8;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.nueve {
    border-bottom: peru solid 15px;
    border-right: peru solid 15px;
    border-top:whitesmoke solid 2px;
    border-left: whitesmoke solid 2px;
    grid-row: 7/10 ;
    grid-column: 8/10;
    background-color: #415548;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}


.uno p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.dos p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.tres p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.cuatro p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.cinco p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.seis p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.siete p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.ocho p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}

.nueve p{
    font-size: 80px;
    text-align: center;
    font-family: TizaFont;
    color: aliceblue;
}



.btnReload{
    grid-row: 10 ;
    grid-column: 6/8;
    align-self: center;
    justify-self: center;
    width: 100%;
}






@media screen and (max-width: 1000px){ 
    .uno{
        grid-row: 3/5 ;
        grid-column: 1/5;
    }
    .dos{
        grid-row: 3/5 ;
        grid-column: 5/9;
    }
    .tres{
        grid-row: 3/5 ;
        grid-column: 9/13;
    }
    .cuatro{
        grid-row: 5/7 ;
        grid-column: 1/5;
    }
    .cinco{
        grid-row: 5/7 ;
        grid-column: 5/9;
    }
    .seis{
        grid-row: 5/7 ;
        grid-column: 9/13;
    }
    .siete{
        grid-row: 7/9 ;
        grid-column: 1/5;
    }
    .ocho{
        grid-row: 7/9 ;
        grid-column: 5/9;
    }
    .nueve{
        grid-row: 7/9 ;
        grid-column: 9/13;
    }
    .btnReload{
        grid-row: 10 ;
        grid-column: 5/9;
       
    }
    
 }