.bienVenida {
    grid-column: 1/13;
    grid-row: 1;
    justify-self: center;
    font-size: 1.5rem;
}

.tresRaya{
    background-color: #428752;
    background-image: url(../../public/fondo.gif);
    border: rgba(0,255,30) solid 5px;
    color: rgba(0,255,30);
    grid-column: 3/6;
    grid-row: 2/5;
    justify-self: center;
    width: 100%;
    border-radius: 20%;
    box-shadow: 0px 0px 61px 24px rgba(0,255,30,0.42);
    justify-content: center;
    display: flex;
    align-items: center
    
}

.memoryGame{
    background-color: #428752;
    background-image: url(../../public/fondo.gif);
    border: rgba(0,255,30) solid 5px;
    color: rgba(0,255,30);
    grid-column: 3/6;
    grid-row: 6/9;
    justify-self: center;
    width: 100%;
    border-radius: 20%;
    box-shadow: 0px 0px 61px 24px rgba(0,255,30,0.42);
    justify-content: center;
    display: flex;
    align-items: center
}


.pokeApi{
    background-color: #428752;
    background-image: url(../../public/fondo.gif);
    border: rgba(0,255,30) solid 5px;
    color: rgba(0,255,30);
    grid-column: 3/6;
    grid-row: 10/13;
    justify-self: center;
    width: 100%;
    border-radius: 20%;
    box-shadow: 0px 0px 61px 24px rgba(0,255,30,0.42);
    justify-content: center;
    display: flex;
    align-items: center
}


.topo{
    background-color: #428752;
    background-image: url(../../public/fondo.gif);
    border: rgba(0,255,30) solid 5px;
    color: rgba(0,255,30);
    grid-column: 8/11;
    grid-row: 2/5;
    justify-self: center;
    width: 100%;
    border-radius: 20%;
    box-shadow: 0px 0px 61px 24px rgba(0,255,30,0.42);
    justify-content: center;
    display: flex;
    align-items: center
}


.hangMan{
    background-color: #428752;
    background-image: url(../../public/fondo.gif);
    border: rgba(0,255,30) solid 5px;
    color: rgba(0,255,30);
    grid-column: 8/11;
    grid-row: 6/9;
    justify-self: center;
    width: 100%;
    border-radius: 20%;
    box-shadow: 0px 0px 61px 24px rgba(0,255,30,0.42);
    justify-content: center;
    display: flex;
    align-items: center
}


.quizNeo{
    background-color: #428752;
    background-image: url(../../public/fondo.gif);
    border: rgba(0,255,30) solid 5px;
    color: rgba(0,255,30);
    grid-column: 8/11;
    grid-row: 10/13;
    justify-self: center;
    width: 100%;
    border-radius: 20%;
    box-shadow: 0px 0px 61px 24px rgba(0,255,30,0.42);
    justify-content: center;
    display: flex;
    align-items: center
    
}


h3 {
    font-size: 30px;
    text-align: center;
    
}


/*-----------------------------------------------------------------------------------------------------------------*/

.tresRaya:hover{
    
    box-shadow: -2px 12px 67px 33px rgba(128,49,49,1) inset;
  
}
.memoryGame:hover{
    box-shadow: -2px 12px 67px 33px rgba(128,49,49,1) inset;
  
}


.pokeApi:hover{
    box-shadow: -2px 12px 67px 33px rgba(128,49,49,1) inset;

}


.topo:hover{
    box-shadow: -2px 12px 67px 33px rgba(128,49,49,1) inset;
   
}


.hangMan:hover{
    box-shadow: -2px 12px 67px 33px rgba(128,49,49,1) inset;
  
}


.quizNeo:hover{
    box-shadow: -2px 12px 67px 33px rgba(128,49,49,1) inset;
    
}



@media screen and (max-width: 1000px){ 
  
    
    .bienVenida{
        font-size: 10px;
        align-self: center;
    }


    .tresRaya{
        grid-column: 2/6;
    }
    
    .memoryGame{
        grid-column: 2/6;
    }
    
    
    .pokeApi{
        grid-column: 2/6;
    }
    
    
    .topo{
        grid-column: 8/12;
    }
    
    
    .hangMan{
        grid-column: 8/12;
    }
    
    
    .quizNeo{
        grid-column: 8/12;  
    }

    h3 {
        font-size: 10px;
        text-align: center; 
    }
 }





